{% extends 'base.html' %} 
{% block body %} 

<!-- {{i.name}}<br /> -->



<div class="container mt-5 mb-3">
  <div class="row">
    {% for i in movie_list %} 
    <div class="col-sm-3 p-3 mb-3 my-2 py-2">
      <div class="card " >
        
        <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">{{i.desc}},{{i.year}}.</p>
          <a href="{%url 'movieapp:details' i.id %}" class="btn btn-primary">Details..</a>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>





 {% endblock %}
